certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7     
docker==5.0.0
Flask==1.0.3
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
nipyapi==0.16.2
packaging==20.9
prometheus-client==0.7.1
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
pywin32==227
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.16.0
urllib3==1.26.4
websocket-client==0.59.0
Werkzeug==1.0.1
xmltodict==0.12.0